{% extends 'base.html' %}

{% block title %}
{{super()}}
List
{% endblock %}

{% block content %}
<h1>Logged correctly</h1>
<p>{{user}}</p>
<div>
    {% if num_prod <= 0 %}
    <p>No products added</p>
    {% else %}
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>First price</th>
            <th>Last price</th>
            <th>Last update</th>
            <th>Amazon list</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.first_price}} €</td>
            <td>{{product.last_price}} €</td>
            <td>{{product.last_update}}</td>
            <td><a href="{{product.url}}">Go to amazon</a></td>
            <td><a href="delete/{{product.id}}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{url_for('reload_price')}}">Reload prices</a>
    </div>
    {% endif %}
    <div>
        <a href="{{url_for('add_product')}}">Add product</a>
    </div>
    <div>
        <a href="{{url_for('exit_login')}}">Exit</a>
    </div>

</div>
{% endblock %}